<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coketom.mapper.MessageMapper">


    <sql id="columns">
        room_id,user_id,content,message_type,created_at
    </sql>
    <insert id="saveMessage">
        insert into messages (
        <include refid="columns"/>
        ) values (
        #{roomId},
        #{userId},
        #{content},
        #{messageType},
        #{createdAt}
        )
    </insert>

    <select id="getMessagesByRoomId" parameterType="java.lang.Integer" resultType="org.coketom.entity.message.UserMessage">
        SELECT message_id, <include refid="columns"/>
        FROM messages
        WHERE room_id = #{roomId}
    </select>

</mapper>