<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coketom.mapper.RoomMapper">


    <sql id="columns">
        room_id,room_name, avatar, description, created_at
    </sql>
    <insert id="saveRoom">
        insert into chat_rooms (
        <include refid="columns"/>
        ) values (
        #{roomId},
        #{roomName},
        #{avatar},
        #{description},
        #{createdAt}
        )
    </insert>

    <select id="getRoomsInfo" parameterType="java.lang.Integer" resultType="org.coketom.entity.room.Room">
        SELECT <include refid="columns"/>
        FROM chat_rooms
    </select>

</mapper>